<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Namma kadai</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
 </head>

<body>
    <center>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <header><h1 id="company-name">Company Name : {{name}}🛍️</h1></header>
    <hr>

    <div id="cash-balance">
        <h2>Cash Balance available: RS. {{balance}}💵</h2>
        
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    </div>    
    </center><br><br>
    
    <div id="main-container">
        <div class="left">
            <form action="/home/add" method="POST">
                <input type="text" name="item_input" placeholder="Enter item name">
                <button type="submit" id="add_btn">Add Item</button>        
            </form>
            <h3 style="color: #0f5f7d;">Items Available:</h3>

            <table id="itemsTable" cellpadding="5">
            
                <thead>
                    <tr>
                        <th>S.no</th>
                        <th style="width: 100px;">Item id</th>
                        <th>Item name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            
                <tbody>
                    {% if items %}
                    {% for item in items %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{item.item_id}}</td>
                        <td>{{item.item_name}}</td>
                        <td>
                            {{ item.actions }}
                            <button class="del-btn" data-id="{{ item.item_id }}">Delete</button>
                            <button class="edit-btn" data-id="{{ item.item_id }}">Edit</button>
                        </td>    
                    </tr>
                        {% endfor %}
                        {% else %}
                    <tr>
                        <td colspan="3" style="text-align: center;">No items available</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div id="right">  
            <form id="purchaseForm" class="card" method="POST" action="/purchase/add">
                <h3 style="color: #0f5f7d;">Purchase Item:</h3>  

                <label for="purchase_item_id">Item ID:</label>
                <input type="number" id="purchase_item_id" name="item_id" placeholder="Enter item id" required><br><br>
                
                <label for="purchase_qty">Quantity:</label>
                <input type="number" id="purchase_qty" name="qty" placeholder="Enter quantity"><br><br>

                <label for="purchase_rate">Rate:</label>
                <input type="number" id="purchase_rate" name="rate" placeholder="Enter rate"><br><br>

                <label for="purchase_amount">Amount:</label>
                <input id="purchase_amount" readonly><br><br>
                <button class="action-btn"  type="submit">Add Purchase</button>
                <button class="action-btn" type="button" onclick="window.location.href='/purchase'">View Purchase</button>

            </form>
            <form id="salesForm" class="card" method="POST" action="/sales/add">
                <h3 style="color: #0f5f7d;">Sales Item:</h3>
                
                <label for="sales_item_id">Item ID:</label>
                <input type="number" id="sales_item_id" name="item_id" placeholder="Enter item id" required><br><br>

                <label for="sales_qty">Quantity:</label>
                <input type="number" id="sales_qty" name="qty" placeholder="Enter quantity" required><br><br>

                <label for="sales_rate">Rate:</label>
                <input type="number" id="sales_rate" name="rate" placeholder="Enter rate" required><br><br>

                <label for="sales_amount">Amount:</label>
                <input id="sales_amount" readonly><br><br>

                <button class="action-btn" type="submit">Add Sales</button>
                <button class="action-btn" type="button" onclick="window.location.href='/sales'">View Sales</button>

            </form>
            </div>


        
        

           