<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Namma kadai</title>
 
</head>

<body>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <header><h1 id="company-name">Company Name : {{name}}</h1></header>
    <hr>

    <div id="cash-balance">
        <h2>Cash Balance available: RS. {{balance}}</h2>
    </div>    
    
    <div id="main-container">
        <div class="left">

            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="flash {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form action="/home/add" method="POST">
                <input type="text" name="item_input" placeholder="Enter item name">
                <button type="submit" id="add_btn">Add Item</button>        
            </form>
            <h3 style="color: #0f5f7d;">Items Available:</h3>

            <table id="itemsTable" cellpadding="5">
            
                <thead>
                    <tr>
                        <th style="width: 100px;">Item id</th>
                        <th>Item name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
            
                <tbody>
                    {% if items %}
                    {% for item in items %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ item.item_name }}</td>
                        <td>
                            {{ item.actions }}
                            <button class="del-btn" data-id="{{ item.item_id }}">Delete</button>
                        </td>    
                    </tr>
                        {% endfor %}
                        {% else %}
                    <tr>
                        <td colspan="3" style="text-align: center;">No items available</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        

            