<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase</title>
</head>

<body>
    <center><h3>Purchase History</h3></center>

    <div id="purchase-table">
        <table border="1" cellpadding="5">
            <tr>
                <th>Purchase ID</th>
                <th>Time</th>
                <th>Item ID</th>
                <th>Quantity</th>
                <th>Rate</th>
                <th>Amount</th>
            </tr>


        </table>
    </div>
    
    <button type="button" onclick=" window.location.href='home'">Go back Home</button>

</body>
</html>